<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://firebasestorage.googleapis.com/v0/b/earth-baby-a0d1e.appspot.com/o/EarthBaby.ipa?alt=media&amp;token=6017ec5d-1ffc-4f1f-bba6-98137d5a2a07</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.ash.Earth-Baby</string>
				<key>bundle-version</key>
				<string>1.0.0</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>Earth Baby</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
